*{
    margin: 0;
}

.body {
    max-width: 500px;
    margin: auto;
    background-color: #d04608;
}

main {
    display: grid;
    grid-template-columns: 2rem 2rem;
    justify-self: end;
    
}

.top-bar {
    background: black;
    color: white;
    padding: 1rem;
}

canvas {
    justify-self: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    height: auto;
}

.btn {
    background: #0892d0;
    color: white;
    border: 1.5;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn:hover{
    opacity: 0.7;
}

body {background-color: #d0082e;}

.error {
    background:red;
    color: #fff;
    padding: 1rem;
}
